body {
  background-color: rgb(241,223,40);
  height: 100%;
  margin: 0; 
  overflow-y: hidden; 
  overflow-x: auto; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}
    
#viewport {
  overflow: hidden;
}


.topp {
  position: fixed; 
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: right;
  /*background: rgb(241,223,40);*/
  padding: 1rem; 
  width: 30%;
  box-sizing: border-box;
}


h1 {
  color: black;
  margin: 0;
  font-family: "ivypresto-headline", serif;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 0.5rem; 
  font-size: 2.5rem;
}

h2 {
  color: black;
  margin: 0;
  font-family: "aktiv-grotesk", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}


.botten {
  position: fixed;
  bottom: 0;      
  left: 0;        
  display: flex;
  justify-content: flex-start;
  align-items: center;
 /* background: rgb(241,223,40);*/
  padding: 1rem;
  width: 30%; 
    text-decoration: none;
  box-sizing: border-box;
}

.botten h3 a {
  color: inherit; /* Inherit color from h3 */
  text-decoration: none; /* No underline for links */
}

h3 {
  color: black;
  text-decoration: none;
  margin: 0;
  font-family: "aktiv-grotesk", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}

.links {
  list-style-type: none; 
  padding-top: 12rem;
  padding-left: 30rem;
  margin: 0;
  display: flex;
  flex-direction: column; 
}

.links li {
  margin-bottom: 0.5rem; 
}

.links a {
  text-decoration: none;
  color: black;
  font-family: "ivypresto-headline", serif;
  font-weight: 300;
  font-size: 2.3rem;
    display: inline-block; /* Behöver detta för att transformera inline-element */
  transition: transform 0.3s ease;
}


.links a:hover {
  transform: scale(1.1); /* Skala upp något, exempelvis 10% */
}


.underline {
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.3rem;
  font-family: "ivypresto-headline", serif;
  font-weight: 300;
  font-style: italic; 
  font-size: 2rem;
}

.underline:hover {
  transform: scale(1.2); 
}


@media screen and (max-width: 768px) {
  body {
    flex-direction: column; 
    align-items: flex-start;
    padding: 1rem;
  }

  .topp {
    position: relative; 
    width: 100%; 
    padding: 0.5rem;
    box-sizing: border-box;
    text-align: left;
  }

  .links {
    position: relative; 
    width: 100%; 
    padding: 1rem; 
    margin: 1rem 0; 
    text-align: left;
  }

  .botten {
    position: fixed; 
    bottom: 0;
    left: 1rem; 
    width: 100%; 
    padding: 0.5rem;
    box-sizing: border-box;
    text-align: left;
  }

  h1 {
    font-size: 3rem; 
  }

  h2, h3 {
    font-size: 1.3rem; /* Smaller subheadings */
  }

  .links a {
    font-size: 1.5rem; /* Smaller link text */
  }

  .underline {
    font-size: 2rem; 
  }
}


